body {
    font: 1.3rem sans-serif;
    padding: 0.5em;
    margin: 0;
    background: #222;
}

form {
    position: relative;
    width: 740px;
    height: 498px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: #FFF;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10em 1em 1em 1em;
}

#message {
    grid-row: 1 / 5;
}

#form, #replay {
    display: flex;
}

label {
    font: .8em "typewriter", sans-serif;
}

input, textarea {
    font    : 1.4em/1.5em "handwriting", cursive, sans-serif;
    border  : none;
    padding : 0 10px;
    margin  : 0;
    width   : 80%;
    background : none;
  }


header{
  background: #FFF;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
.logo {
  float: left;
  padding: 10px 0;
}
nav {
  float: right;
}
img {
  max-width: 200px;
  height: auto;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative; 
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
}

nav a:hover{
  color: #000;
}

nav a::before{
  content:'';
  display: block;
  height: 5px;

  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before{
  width: 100%;
}